---
import Layout from '../../layouts/Layout.astro'; //NOTE ãƒ«ãƒ¼ãƒˆã‹ã‚‰å‚ç…§ã§ãã‚‹ï¼Ÿ
const allPosts = await Astro.glob('../../pages/posts/*.md');
console.log('ðŸš€ ~ allPosts:', allPosts[0].rawContent);
const pageTitle = 'ç§ã®Astroå­¦ç¿’ãƒ–ãƒ­ã‚°';

const stringToHash = (string: string): string => {
  let hash = 0;
  if (string.length == 0) return hash.toString();
  for (let i = 0; i < string.length; i++) {
    let char = string.charCodeAt(i);
    hash = (hash << 5) - hash + char;
    hash = hash & hash; // Convert to 32bit integer
  }
  return Math.abs(hash).toString(16); // Convert to absolute value and convert to hexadecimal string
};
---

<Layout title={pageTitle}>
  <main>
    <h1>BLOG</h1>
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={post.url}>
              <img src={post.frontmatter.image.url} transition:name={'img-' + stringToHash(post.frontmatter.title)} />
            </a>
            <h3>
              <a href={post.url} transition:name={'title-' + stringToHash(post.frontmatter.title)}>
                {post.frontmatter.title}
              </a>
            </h3>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  img {
    max-width: 100%;
  }
</style>
