---
import { getCollection } from 'astro:content';

import Layout from '@/layouts/BaseLayout';
import { Container } from '@/components/index';
import Chip from '@/components/Chip.astro';

// page settings
const title = 'タグ一覧';
const pageHeader = true;
const breadcrumb = [{ label: 'タグ一覧', href: '/tags', 'aria-label': undefined }];
// page settings end

const allPosts = await getCollection('posts');
const tags = [...new Set(allPosts.map((post: { data: { tags: any } }) => post.data.tags).flat())];
---

<Layout title={title} pageHeader={pageHeader} breadcrumb={breadcrumb}>
  <Container size='md'>
    <ul class='tags flex flex-wrap gap-y-4 gap-x-2'>
      {
        tags.map((tag) => (
          <li class='inline-block'>
            <a href={`/tags/${tag}`}>
              {' '}
              <Chip label={tag}>
                <span class='tags__count'>1</span>
              </Chip>
            </a>
          </li>
        ))
      }
    </ul>
  </Container>
</Layout>

<style lang='scss'>
  .tags {
    &__count {
      background-color: rgba(#fff, 0.2);
      display: inline-block;
      padding: 2px 6px;
      border-radius: 2px;
      margin: 0 0 0 0.5em;
      line-height: 1;
    }
  }
</style>
