---
import Layout from '@/layouts/BaseLayout';
import { type CollectionEntry } from 'astro:content';
import { getPosts, getCategories } from '@/utils';
import { siteConfig } from '@/data/site.config';

import ListPosts from '@/components/ListPosts.astro';
import Pagination from '@/components/Pagination.astro';
import Chip from '@/components/Chip.astro';

export async function getStaticPaths({ paginate }: any) {
  const allPosts = await getPosts();
  return paginate(allPosts, { pageSize: siteConfig.paginationSize });
}

// https://docs.astro.build/ja/guides/routing/#%E5%AE%8C%E5%85%A8%E3%81%AAapi%E3%83%AA%E3%83%95%E3%82%A1%E3%83%AC%E3%83%B3%E3%82%B9

type Props = {
  page: {
    data: CollectionEntry<'posts'>[];
  };
};

// page settings

const title = 'Posts';
const pageHeader = true;
const slug = ['posts', 'archive'];
const breadcrumb = [{ label: 'お知らせ', href: '/about', 'aria-label': undefined }];

// page settings end

const categories = await getCategories();
const { page } = Astro.props;
const posts = page.data;
---

<Layout title={title} pageHeader={pageHeader} breadcrumb={breadcrumb}>
  <div class='wrap'>
    <dl class='categories'>
      <dt>カテゴリー:</dt>
      <dd>
        {
          categories.map(({ name }) => (
            <>
              <a href={`/categories/${name}`}>
                <Chip variant='wave' label={name} />
              </a>
            </>
          ))
        }
      </dd>
    </dl>
    <ListPosts posts={posts} layout='single' />
    <Pagination page={page} />
  </div>
</Layout>

<style lang='scss'>
  .wrap {
    display: grid;
    gap: 80px;
  }
  .categories {
    display: flex;
    gap: 30px;
    dt {
      font-weight: bold;
      flex-shrink: 0;
    }
    dd {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
</style>
