---
/*
階層は2まで。
TOCのような構造にしても良いかも。
*/
const { class: className, ...rest } = Astro.props;

const paths = [
  {
    label: 'Home',
    href: '/',
  },
  {
    label: 'About',
    href: '/about/',
  },
  {
    label: 'Posts',
    href: '/posts/page/',
    hasChildren: true,
    children: [
      {
        label: 'Tags',
        href: '/tags/',
      },
      {
        label: 'Categories',
        href: '/categories/',
      },
    ],
  },
];
---

<ul class={className} {...rest}>
  {
    paths.map((path) =>
      path.hasChildren ? (
        <li class='has_child' {...rest}>
          <a href={path.href} {...rest}>
            {path.label}
          </a>
          <ul class='child' {...rest}>
            {path.children.map((childPath) => (
              <li {...rest}>
                <a href={childPath.href} {...rest}>
                  {childPath.label}
                </a>
              </li>
            ))}
          </ul>
        </li>
      ) : (
        <li {...rest}>
          <a href={path.href} {...rest}>
            {path.label}
          </a>
        </li>
      )
    )
  }
</ul>
